<section id="about" [@routeAnimation]="routeAnimation">
  <div class="container">
    <div class="row">
      <div class="about-item col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="about-title">Things you should know about me...</div>
        <div class="about-img">
          <img [src]="aboutImage">
        </div>
        <div class="about-text">
          <h4>Becoming a Ninja Developer, Coffee and Music Lover</h4>
          <hr>
          <p>
            I'm a passionate of tecnology. Most of the time i'm looking for improve my professional skills,
            looking for best practices to implement into my work.
          </p>
          <p>
            I like to be a responsable person in all things i do, always looking for innovate, and being self taught.
          </p>
          <p>
            I'm also a passionate for music. playing guitar since i was 15 years old, so i have to try to give myself some free time to practice and relax
            with a good movie or TV serie (GOT Rules :D).
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="about-hobbies-list">
          <li><span class="fa fa-code"></span></li>
          <li><span class="fa fa-coffee"></span></li>
          <li><span class="fa fa-music"></span></li>
          <li><span class="fa fa-tv"></span></li>
          <li><span class="fa fa-book"></span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
