<section id="experience" [@routeAnimation]="routeAnimation">
  <div class="container">
    <div class="row">
      <div class="experience-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
        Work History
      </div>
    </div>
    <div class="row">
      <div class="experience-item text-center col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="timeline-date red">2009 - 2015<span class="fa fa-caret-down caret-red"></span></div>
        <div class="timeline red"><span class="fa fa-caret-right caret-red"></span></div>
        <div class="timeline-description">
          <div class="timeline-company">
            ITC
            <p>Culiacán, Sinaloa.</p>
          </div>
          <div class="timeline-role">Software Engineering</div>
          <div class="timeline-text">
            <p>Computer systems engineering with software engineering speciality.</p>
            As student i learned:
            Object oriented programming basics,
            Web development with HTML and JS,
            Basic Java and relational databases.

          </div>
        </div>
      </div>
      <div class="experience-item text-center col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="timeline-date green">2012-2013<span class="fa fa-caret-down caret-green"></span></div>
        <div class="timeline green"><span class="fa fa-caret-right caret-green"></span></div>
        <div class="timeline-description">
          <div class="timeline-company">
            Axtel S.A.B de C.V.
            <p>Culiacán, Sinaloa.</p>
          </div>
          <div class="timeline-role">Internet Support</div>
          <div class="timeline-text">
            <p>Customers internet tech support</p>
            <p>Customers service fixing internet issues</p>
          </div>
        </div>
      </div>
      <div class="experience-item text-center col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="timeline-date blue">2013-2014<span class="fa fa-caret-down caret-blue"></span></div>
        <div class="timeline blue"><span class="fa fa-caret-right caret-blue"></span></div>
        <div class="timeline-description">
          <div class="timeline-company">
            Red Rabbit S.C.
            <p>Culiacán, Sinaloa.</p>
          </div>
          <div class="timeline-role">Web Developer</div>
          <div class="timeline-text">
            <p>Developing web applications using the next technologies:</p>
            <p>Coldfusion, Javascript, HTML5, PHP, MVC Pattern.</p>
          </div>
        </div>
      </div>
      <div class="experience-item text-center col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="timeline-date yellow">2015-Present<span class="fa fa-caret-down caret-yellow"></span></div>
        <div class="timeline yellow"><span class="fa fa-caret-right caret-yellow"></span></div>
        <div class="timeline-description">
          <div class="timeline-company">
            Coppel S.A. de C.V.
            <p>Culiacán, Sinaloa.</p>
          </div>
          <div class="timeline-role">Web Developer</div>
          <div class="timeline-text">
            <p>Developing web applications most commonly with PHP,
            Javascript, HTML5, PostgreSQL and some MVC's based frameworks like Codeigniter,
            Phalcon for RESTful APIs consumed with Angular.</p>

            <p>Also, using Java to develop SOAP and REST web services.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
