<section id="home" [@routeAnimation]="routeAnimation">
  <div class="container">
      <div class="info-box">
        <div class="row">
          <div class="text-center img-home-col col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img [src]="personalImage" class="img-home img-rounded">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-name text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <span>Gildardo Solis</span>
              </div>
            </div>
            <div class="row">
              <div class="col-role text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                Web Developer
              </div>
            </div>
            <hr>
            <div class="row">
              <table class="info-table">
                <tr>
                  <td align="left"><span class="fa fa-calendar-o"></span></td>
                  <td align="left"><strong>BIRTHDATE</strong></td>
                  <td align="left">July 25th, 1988.</td>
                </tr>
                <tr>
                  <td align="left"><span class="fa fa-map-marker"></span></td>
                  <td align="left"><strong>LOCATION</strong></td>
                  <td align="left">Culiacán, Sinaloa, México.</td>
                </tr>
                <tr>
                  <td align="left"><span class="fa fa-envelope-open"></span></td>
                  <td align="left"><strong>EMAIL</strong></td>
                  <td align="left">gildardo.gs5@gmail.com</td>
                </tr>
                <tr>
                  <td align="left"><span class="fa fa-mobile"></span></td>
                  <td align="left"><strong>PHONE</strong></td>
                  <td align="left">6671272178</td>
                </tr>

              </table>
            </div>
          </div>
        </div>
        <div class="social row">
          <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <span class="fa fa-twitter"></span>
            <span class="fa fa-linkedin"></span>
            <span class="fa fa-instagram"></span>
            <span class="fa fa-github"></span>
            <span class="fa fa-gitlab"></span>
          </div>
        </div>
      </div>
  </div>
</section>
